*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.css-1f2kw6w-MuiContainer-root {
  margin: 0 !important;
  padding: 0 !important;
}

.css-fxbtpg {
  background-color: rgb(207, 207, 207) !important;
}
